* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgb(217, 255, 0),
    rgb(42, 109, 0)
  );
}
header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
header h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 200%;
  height: 80%;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
  justify-content: center;
  color: greenyellow;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.imgbody {
  width: 100%;
  height: 90%;
  padding: 1%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
}
.imgbody img {
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(0, 0, 0, 0.5);
  object-fit: fill;
  width: 5rem;
  height: 5rem;
  margin: 1%;
  filter: brightness(0.9);
  transition: all 0.5s;
}
.imgbody img:hover {
  animation: shake 0.5s;
  filter: brightness(1.1);
  transform: scale(1.01);
  cursor: pointer;
}
@keyframes shake {
  0% {
    margin: 0px 1%;
  }
  50% {
    margin: 0px 1%;
  }
  100% {
    margin: 0px 1%;
  }
}

.detail-body {
  position: relative;
  width: 100%;
  height: 90%;
  display: none;
  flex-direction: column;
  padding: 1%;
  overflow: hidden;
}
.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}
.detail-header img {
  width: 30%;
  max-width: 8rem;
  min-width: 8rem;
  height: 8rem;
  object-fit: fill;
  border-radius: 10px;
}
.labels {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1%;
}
.label h1 {
  font-size: 70%;
  width: 100%;
  text-transform: uppercase;
  color: greenyellow;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.label p {
  font-size: 60%;
  width: 100%;
  color: black;
  text-shadow: 1px 1px 3px rgb(153, 255, 0);
}

.details {
  overflow: scroll;
  height: 50%;
  display: flex;
}
.details p {
  text-align: justify;
  text-justify: auto;
  font-size: 70%;
}
.footer {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
button {
  width: 40%;
  height: 40%;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 1px 1px 5px yellowgreen, inset 1px 1px 2px rgb(0, 0, 0);
  font-size: 10px;
  transition: all 0.5s;
}
button:hover {
  transform: scale(0.98);
  animation: style 1s;
  cursor: pointer;
}
@keyframes style {
  100% {
    box-shadow: inset 1px 1px 5px yellowgreen, 1px 1px 2px rgb(0, 0, 0);
  }
}
@media (min-width: 768px) {
  .imgbody img {
    width: 15rem;
    height: 15rem;
  }
  .labels {
    height: 100%;
  }
  .label h1 {
    font-size: 90%;
  }
  .label p {
    font-size: 70%;
  }
  .details {
    height: 50%;
  }
  .detail-header img {
    width: 30%;
    max-width: 10rem;
    min-width: 10rem;
    height: 10rem;
    object-fit: fill;
    border-radius: 10px;
  }
  .details {
    overflow: scroll;
    height: 60%;
    display: flex;
  }
}
